@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
* {
  box-sizing: border-box;

}
/*------------------------------------------------------------------------------- */

body {
  font-family: Arial;
  padding: 10px;
  background-color: #f1f1f1;
  
 
 

}

/*--------------------------------------------------------------------------------- */

/* Header/Blog Title */
.header {
  text-align: center;
  background: white;
  padding-bottom:50px;
  
}

.header h1 {
  font-size: 50px;
}

/*--------------------------------------------------------------------------------- */


/* Change color on hover */




/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  height:fit-content;
  margin-top: 20px; 
}
/*------------------------------------------------------------------------------- */

/* Right column */
.rightcolumn {
  padding-top: 50px;
  float: left;
  width: 25%;

  
}
.image-container{
  height: 500px;
  width: 250px;
  position: relative; 
  border: 3px solid black;
}
.btnReply{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  outline: none;
  border: 1px solid grey;
  color: white;
  
}
.textAnime{
  position: absolute;
  top: 125px;
  left:10px;
  color:white;
  
  font-family: "Courgette", cursive;
  font-size: 25px;
  text-align:center;

  

}

.id{
  position: absolute;
  left: 23px;
  bottom: 5px;
  background: none;
  
  color: white;
  animation-name: idAnime;
 animation-duration: 3s;
 transition: 3s;
 animation-timing-function: linear; 
 
}
.findOutMore{
  position: absolute;
  top: 50%;
  left: 40%;
  translate: transform(-40%, -50%);
  height: 65px;
  width: 65px;
  padding: 5px;
  border-radius: 50%;
  background-color: purple;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  animation-name: findOut;
  animation-duration: 1s;
  animation-timing-function: linear;
  transition: 1s;


}
@keyframes findOut{
  from {
    top: 80%;
    left: 40%;
    translate: transform(-50%, -50%);
    
  }
  to {
    top: 50%;
    left: 40%;
    translate: transform(-50%, -50%);
    
  }

}
@keyframes idAnime {
  0%{
    transform: scale(0.3);
  }
  50%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
  
}
.image-container img{
  height: 500px;
  width: 250px;
  padding-right: 6px;
  padding-bottom: 6px;
}
/*.transition-image{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  
  animation-name: Fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction:alternate; 
}
.transition-image2{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  animation-name: Fade2;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-direction:alternate; 
}
.transition-image3{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  animation-name: Fade3;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 13s;
  animation-direction:alternate; 
}
*/


@keyframes Fade{
  0% { opacity: 1; }
  45% {opacity: 1;}
  55% {opacity: 0;}
  100%{opacity: 0;}
}
@keyframes Fade2{
  0% { opacity: 1; }
  45% {opacity: 1;}
  55% {opacity: 0;}
  100%{opacity: 0;}
}
@keyframes Fade3{
  0% { opacity: 1; }
  45% {opacity: 1;}
  55% {opacity: 0;}
  100%{opacity: 0;}
}



/*--------------------------------------------------------------------------------- */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}
/*--------------------------------------------------------------------------------- */
/*image container*/
#cf {
 
  /*stretch image*/
  padding-top:50px;
  padding-bottom:50px;
 display: flex;
 width: 95%;
 height: 300px;
 position: relative;
 overflow: hidden;
}
#cf img{
  /*stretch image*/
  padding-left: 100px;
  padding-right: 100px;
  width: 95%;
  height: 300px;
  position:absolute;
  left:0;
/*setting for different web browsers*/
  -webkit-transition: opacity 2s ease-in-out infinite;
  -moz-transition: opacity 2s ease-in-out infinite;
  -o-transition: opacity 2s ease-in-out infinite;
  transition: opacity 2s ease-in-out infinite;
} 
/*dayPiha image*/
#cf img.top {
  opacity:0;
  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  width: 110%;
  height: 300px;
   
 
  
}
/*sunsetPiha image*/
#cf img.bottom{
  opacity:0;
  animation-name: imgFade2;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  
  
   
  
}

@keyframes imgFade{
  0% {opacity: 1; top: 75px;}
  45% {opacity: 1;}
  55% {opacity: 0; top: 20px; }
  100%{opacity: 0; top: 0px;}
}
@keyframes imgFade2{
  0% { opacity: 1; margin-left: 300px;}
  
  100%{opacity: 1; margin-left: 0px;}
}


#outsideBox {
  width: 600px;
  height: 150px;
  background-color: lightblue;
  position: relative;
 
}
#piha {
  padding-block: 60px;
  padding-right: 100px;
  padding-left: 100px;
 font-family: "Courgette", cursive;

margin-left: 30px;
  color:darkolivegreen;
  -webkit-animation-name: greetingMove; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: greetingMove;
  animation-duration: 3s;
  position: absolute;
  animation-iteration-count: infinite;
 /* Safari 4.0 - 8.0 */   
 
}	

#wild {
  padding-block: 50px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: "Courgette", cursive;
  font-size: 25px;	
  margin-left: 30px;
  color: white;
  -webkit-animation-name: greetingMove2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: greetingMove2;
  animation-duration: 8s;
  position: absolute;
  animation-fill-mode: forwards;
  
  
 /* Safari 4.0 - 8.0 */   
 
}	
#Shakila {
  padding-block: 50px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 5px;	
  margin-left: 30px;
  color:white;
  font-family: "Courgette", cursive;

  -webkit-animation-name: greetingMove3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
  animation-name: greetingMove3;
  animation-duration: 8s;
  position: absolute;
  animation-fill-mode: forwards;
 /* Safari 4.0 - 8.0 */   
 
}
/*shakila */
@keyframes greetingMove3 {
  0% {top: 180px; right: 400px; font-size: 65px;}
50% { top: 180px;  right: 400px;font-size: 60px; }
  100% { top: 180px; right: 600px; font-size: 35px; color: white;}
}
/* piha */
@keyframes greetingMove {
  /*0% {top: 0; left: -10px; font-size: 65px;}
50% { top: 0;  left: 5px;font-size: 90px; color: wheat; }
  100% { top: 0; left: 10px; font-size: 65px; color: white;}
  
   0% { opacity: 1; margin-left: 300px;}
  
  100%{opacity: 1; margin-left: 0px;}
  */

  /*0% {right: 0; bottom: 2px; font-size: 40px;}
  45% {right: 0; bottom: 2px;font-size: 50px; color: darkolivegreen;}
 
  100%{right: 0; bottom: 2px;font-size: 30px; color:yellow;}*/

  
    0% {left: 0; top: 10px; font-size: 60px;}
  50% { left: 0;  top: 10px;font-size: 40px; color: brown; }
    100% { left: 0; top: 10px; font-size: 50px; color: white; }
  



}
/*wild*/
@keyframes greetingMove2 {
  0% {right: 0; top: 10px; font-size: 65px;}
50% { right: 0;  top: 10px;font-size: 90px;  }
  100% { right: 0; top: 10px; font-size: 40px; color: white; }
}


/* Safari 4.0 - 8.0 
@-webkit-keyframes greetingMove {
0% { margin-left: -250px;  font-size: 65px;}
50% { margin-left: 130px; font-size: 95px; }
100% { margin-left: 30px; font-size: 65px; display: none; }
}*/


/*--------------------------------------------------------------------------------- */

/*--------------------------------------------------------------------------------- */

 /*booking system style*/
 /* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/*--------------------------------------------------------------------------------- */


/*--------------------------------------------------------------------------------- */

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/*--------------------------------------------------------------------------------- */




